@font-face {
    font-family: Nebula;
    src: url(assets/Nebula.otf);
  }

canvas {
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    box-shadow: 0px 0px 39px 0px rgba(69, 5, 142, 0.2);
}

button:focus{
    outline: none;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

.start-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#aeefd6, #a263e0, #45058e);
}

.img-win{
    width: 90px;
}

.end-game {
    height: 100vh;
    width: 100vw;
    position:absolute;
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/GameOverBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.card-start {
    padding: 50px;
    border-radius: 50px;
    /* box-shadow: 0px 0px 29px 0px rgba(63,63,63,0.14); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: white; */
    min-width: 25vw;
}

h1 {
    color: #6532a0;
    text-align: center;
    line-height: 1em;
    padding-bottom: 20px;
    font-weight: 600;
}

.mobile-instructions {
    color: #36d39a;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 20px;
    display: none;
}

@media (max-width: 810px){
    .mobile-instructions{
        display:block;
        text-align: center;
    }

    .start-game-button {
        display: none;
    }

    .button-instructions {
        display: none;
    }
}

.nebula {
    font-family: Nebula;
    font-size: 90px;
    color: #36d39a;
    margin: 30px;
}

.start-game-button{
    background-color: #36d39a;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    cursor: pointer;
    transition: all .5s ease;
}

.start-game-button:hover{
    background-color: #00c67f;
}

.img-intro {
    width: 350px;
    padding-bottom: 50px;
}


.game-board {
    min-height: 100vh;
    background: linear-gradient(#aeefd6, #a263e0, #45058e);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-game {
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.info img {
    width: 30px;
    padding: 0 5px;
}

.logo-board {
    width: 200px;
}

.info{
    padding: 5px 25px;
    background-color: #f4effb;
    border-radius: 50px;
    display: flex;
    align-items: center;
    height: 100%;
}

#number-lifes {
    color: #938eb1;
    padding-left: 5px;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
}

#number-paper {
    color: #938eb1;
    padding-left: 5px;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
}


.button-instructions {
    background-color: transparent;
    color: #36d39a;
    border: none;
    border-bottom: 2px solid transparent;
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: all .5s ease;
}

.button-instructions:hover {
    border-bottom: 2px solid #36d39a;
}

.close {
    border: none;
    cursor: pointer;
    float: right;
    background: transparent;
}

.close img {
    width: 40px;
}

.intro-instructions{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.intro-instructions p {
    color: #45058e;
    text-align: center;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

#col-instructions {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

#col-instructions div {
    width: 90%;
}

#instructions-card {
    width: 80vw;
    height: 80vh;
    max-width: 900px;
    overflow: scroll;
}

.logo-instructions{
    width: 200px;
}

.obj-desc {
    display: flex;
    padding-bottom: 20px;
}

.game-over{
    width: 400px;
    padding-bottom: 50px;
}


.obj-group img {
    width: 50px;
    padding-right: 30px;
}

.obj-group p {
    color: white;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;

}